@import './variables.scss';

.searchContainer {
  position: relative;

  .searchIcon {
    position: absolute;
    top: 50%;
    left: $spacing-md;
    transform: translateY(-50%);
    pointer-events: none;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: $gray-400;
    }
  }

  .searchInput {
    display: block;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: 1px solid $gray-300;
    border-radius: $radius-md;
    font-size: $text-sm;
    background-color: $white;
    transition: all $transition-fast;

    &::placeholder {
      color: $gray-500;
    }

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.1);

      &::placeholder {
        color: $gray-400;
      }
    }
  }

  .clearButton {
    position: absolute;
    top: 50%;
    right: $spacing-md;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: $gray-400;
      transition: color $transition-fast;

      &:hover {
        color: $gray-600;
      }
    }
  }
}
